 
.opt{
    
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: #147b9a;
    
    
    position: absolute;
    width: 100vw;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80px;
    line-height: 1px;
    padding: 2px 30px;
    
 
}
.opt ul li {
    font: normal 36px 'Cookie', cursive;
    display: inline;
    
}
.opt ul li a{
    color:rgb(202, 204, 207);
    font-size: 30px;

}
.options li a{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    transition: all .2s linear;
    color: #095e7d;
    
}
.options li a:hover{
border: 1px solid transparent;
border-radius: 30px;
font-weight: bold;
padding: 10px;

background-color: #033874;
text-shadow: #000;

}
.bg-img{
    border: solid #095e7d;
    width: 100vw;
    height: 100vh;
    background-image: url('AdobeStock_369208839-scaled-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    animation-name: photo-slide;
    animation-duration: 30s;
    animation-delay: .5s;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    transition: animation .5s ease-in-out;
    animation-direction:normal;
    color: #c987e1;
    
}
.sidebar{
    width: 80px;
    height: calc(1vh);
    background:linear-gradient(45deg , #5078b500 ,#311dcf00);
    position: absolute;
    /* top: 80px; */
    right: 110px;
    padding-top: 20%;
    display: flex;
    justify-content: space-between;
    line-height: 50px;

}
.socials li a{
    font-size: 35px;
    margin-top: 25px;
    line-height: 50px;
    margin-left: 20px;
    
}
.socials li a:hover > img {

 width: 60px;
 height: 60px;
 
}

.About p{
  font-size: 20px;
}

footer{
	position: absolute;
    
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 50px;
}
 
.footer-distributed .footer-left{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}
.footer-distributed p{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
    font-size: 20px;
}

.footer-distributed p span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

 

 
 

 
 
 

 
 

 
    