body,html{
    height:100;
  }
   *{
      box-sizing:border-box;
    }
    .bg-img{
        background-image: url("maxresdefault.jpg");
        min-height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
      }
      *.box{
        position: absolute;
        margin: 25px;
        width: 350px;
        height: 300px;
        padding: 16px;
        background-color: rgba(10, 156, 148, 0.394);
      }

      button {
        background-color: #0a754e;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        
      }  