<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
   <title>Student Management</title>
   
   <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
</head>
<body>
   <div class="bg-img" >
       <form action="AdobeStock_369208839-scaled-1.jpeg"
       div class="opt">

       <ul class="options">
           <li><a href="#">Home</a></li>. 
           <li><a href="loginchoose.html" >Login</a></li>.
           <li><a href="#" target="blank_">About</a></li>.
           <li><a href="#" target="blank_">Contact</a></li>
       </ul>
   <div class="sidebar">
       <ul class="socials">
           <li><a href="#"><img src="/static/css/facebook.png" width="40px" height="40px"></a></li>
           <li><a href="#"><img src="/static/css/gmail.png" width="40px" height="40px"></a></li>
           <li><a href="#"><img src="/static/css/instagram.png" width="40px" height="40px"></a></li>
           <li><a href="#"><img src="/static/css/whatsapp.png" width="40px" height="40px"></a></li>
       </ul>
   </div>
       </form>
   </div>
    <div class="About">
       <p>The objectives of the Student Database Management System (SDMS) project are designed to be SMART (Simple, Measurable, Accurate, Realistic and Time Bound), ensuring a focused and achievable outcome. The project aims to simplify data management by a simple and unique process i.e Flask framework and creating an attractive interface (using html, css, javascript) with a measurable goal of reducing data entry time. For enhancing the data security we have prepared with a reliable database, appropriate web (Student Management System) and application server (Xampp) with authentication measures and monitoring tools. The project also focuses on cost-efficiency, scalability, timely technical support, cultural adaptation, adapting to digital transformation, and ensuring data accuracy. These SMART objectives provide a clear and measurable roadmap for the implementation of the SDMS project, ensuring it meets the desired goals within defined timeframes.</p>
    <div class="footer">

<footer class="footer-distributed">

   <div class="footer-left">

       <h3>Student <span>Management System</span></h3>

       <p class="footer-links">
           <a href="#">Home</a>
           ·
           <a href="#">About</a>
           ·
           <a href="#">Contact</a>
           <p>PEC <span>Pokhara,Nepal</span></p>
           <p>+977 9876543210</p>
       </p>

   </div>
   

</footer>
    </div>

</html>

