<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
   <title>Student Management</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
</head>
<body>
   <div class="bg-img" >
       <form action="AdobeStock_369208839-scaled-1.jpeg"
       div class="opt">

       <ul class="options">
           <li><a href="#">Home</a></li>
           <li><a href="login" >Login</a></li>
           <li><a href="#" target="blank_">About</a></li>
           <li><a href="#" target="blank_">Contact</a></li>
       </ul>
   </div>
</body>
</html>