<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/choose.css' )}}">
    <title>Login Page | AsmrProg</title>
</head>

<body>
    
    <div class="choose" >
  
        <form class="Student same" >
                <img class="Avatar" src="/static/css/student5651 (1).jpg" width="200" height="170" >
                <h1>Register as Student</h1>
                <br>
                <a href="student"><button type="button">Register as Student</button></a>
         </form>
        <form class="Teacher same">
                 <img src="/static/css/2992-2e43bbf282e5f024b49b9d0e380c2e60c119e50418e2233456517844da4386a2.jpg" width="200" height="170">
                 <h1>Register as Teacher</h1>
                 <br>
                 <a href="teacher"><button type="button">Register as Teacher</button></a>
       </form>
       <form class="Admin">
        <img src="/static/css/240_F_65756860_GUZwzOKNMUU3HldFoIA44qss7ZIrCG8I.jpg" width="200" height="170">
            <h2>Login as Admin</h2>
            <br>
            <a href="admin"><button type="button">Sign in as Admin</button></a>
       </form>
    </div>
    </div>
</body>
</html>