<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' )}}">
</head>
<body>
    <div class="bg-img" >
        <form action="maxresdefault.jpg"
        class="container">
        <label ><b>login as staff</b></label>
            <a href="http://127.0.0.1:5500/main.html" ><button type="button">Login</button></a>
            <label ><b>login as student</b></label>
            <a href="http://127.0.0.1:5500/main.html" ><button type="button">Login</button></a>
        </form>
       
</body>
</html>