<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css' )}}">
    <title>Login Page | AsmrProg</title>
</head>

<body>

    <div class="container" id="container">
      
        <div class="form-container sign-in">
            
                <h1>Create Account</h1>
                <form method="POST" action="{{ url_for('student') }}">            
                    <input type="text" name="Rollno" placeholder="Rollno">
                    <input type="text" name="S_Name" placeholder="S_Name">
                    <input type="text" name="Class" placeholder="Your class">
                    <input type="text" name="Address" placeholder="Address">
                    <input type="text" name="parentsNumber" placeholder="ParentsNumber">
                    <input type="text" name="parentsName" placeholder="ParentsNAME">
               <a href="face.html"><input type="submit"></a>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
             
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Student!</h1>
                
                  
                </div>
            </div>
        </div>
    </div>

     
</body>
</html>