<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Login Page | AsmrProg</title>
</head>

<body>

    <div class="container" id="container">
      
        <div class="form-container sign-in">
            <form>
                <img src="istockphoto-1416145560-612x612.jpg" width="40" height="40">
             Registration complete.
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Already have an account?</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Thankyou for registering.</h1>
                    
                
                  
                </div>
            </div>
        </div>
    </div>